/* =========================
   MOTYW: HALLOWEEN
========================= */

html, body {
    background: #0c0602 !important;
    color: #ebd5bc !important;
}

#particles .particle {
    background: #ff6600 !important;
}

header {
    border-bottom-color: #381600 !important;
}

.logo {
    color: #ff6600 !important;
    text-shadow: 0 0 12px rgba(255, 102, 0, 0.4) !important;
}

.logo::after {
    color: #8800ff !important;
}

.subtitle, .status {
    color: #a35c00 !important;
}

.categories-bar {
    border-bottom-color: #381600 !important;
}

.cat-btn {
    background: #1a0b03 !important;
    color: #d88c42 !important;
    border-color: #4a2200 !important;
}

.cat-btn:hover, .cat-btn.active {
    background: #2e1305 !important;
    color: #ff8800 !important;
    border-color: #ff6600 !important;
}

button, .theme-switcher select {
    background: #1a0b03 !important;
    color: #ebd5bc !important;
    border-color: #4a2200 !important;
}

button:hover, .theme-switcher select:hover {
    background: #2e1305 !important;
    border-color: #ff6600 !important;
    color: #ff8800 !important;
}

.thread {
    background: #1a0b03 !important;
    border-color: #4a2200 !important;
}

.thread.pinned-thread {
    border-color: #883300 !important;
    background: #281003 !important;
}

.thread:hover {
    border-color: #ff6600 !important;
    background: #2e1305 !important;
}

.thread-title {
    color: #ff9933 !important;
}

.thread-meta {
    color: #b36b19 !important;
}

#createBox, .reply, .post {
    background: #1a0b03 !important;
    border-color: #4a2200 !important;
}

#createBox input, #createBox select, #createBox textarea, .reply textarea {
    background: #0c0602 !important;
    color: #ebd5bc !important;
    border-color: #381600 !important;
}

footer {
    color: #5c2b00 !important;
}
